# global
**/.dist_test
**/.pytest_cache
**/*.egg-info
**/*.TAG
**/dist
**/*.so
*.so
tmp
output
work_dirs
logs
ckpts
log
ckpt

analyze/show

cross_selective_scan

classification/models/pscan.py
changedetection/vssm_base_0229_ckpt_epoch_237.pth
changedetection/vssm_small_0229_ckpt_epoch_222.pth
changedetection/vssm_tiny_0230_ckpt_epoch_262.pth
changedetection/changedetection/
kernels/cross_scan/build
kernels/selective_scan/build
# we do not release code of heat series
classification/configs/heat
classification/models/heat
classification/models/heat.py
classification/models/vim.py
classification/models/pscan.py

detection/data
detection/work_dirs

segmentation/data
segmentation/work_dirs





classification/models/ss2d_ablations.py
kernels/selective_scan/1.log
classification/dev.py
classification/models/triton_parts.py
classification/1.log
kernels/selective_scan/test_selective_scan_speed.py
kernels/selective_scan/test_selective_scan_easy.py
kernels/selective_scan/ssmtriton.py
test.sh
